.pollWrapper {
  border-radius: 1.2rem;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 0;
  max-width: 1000px;
}

.pollAnswersWrapper {
  border: 3px solid rgb(96, 239, 83);
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.pollFormWrapper {
  border: 3px solid rgb(96, 239, 83);
  padding: 1.2rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
}

.pollQuestion {
  margin: 1.2rem;
}

.flexFormCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 4rem;
  margin-top: 1.2rem;
}

.pollButton {
  margin-top: 1.2rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(2, 168, 16);
  color: white;
}

.answer {
  background-color: rgb(61, 224, 61);
  height: 1.2rem;
  display: inline-block;
  width: 2rem;
}
