.fileModalContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.fileModalBody {
  background-color: rgba(240, 240, 240, 0.95);
  position: absolute;
  top: 35%;
  left: 5rem;
  width: 65%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0.6rem;
  padding-left: 0.4rem;
  border-radius: 1.2rem;
}

.closeFileModalButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgb(15, 45, 238);
  border-radius: 2rem;
  border: 2px solid black;
  color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
