.imagePickerWrapper {
  width: 80%;
  border: 3px solid green;
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.imagePickerImage {
  width: 200px;
}

.chooseFileButton {
  /* background-color: greenyellow;
  width: 12rem; */
  margin-bottom: 1.2rem;
}

.uploadButton {
  background-color: rgb(191, 255, 94);
  border: 3px solid rgba(73, 115, 11, 0);
  border-radius: 1.2rem;
  margin-top: 2rem;
  padding: 1.2rem;
}

.uploadButton:hover {
  background-color: rgb(139, 207, 37);
  border: 3px solid rgb(73, 115, 11);
}

.cancelButton {
  background-color: rgb(255, 109, 109);
  border: 3px solid rgba(73, 115, 11, 0);
  border-radius: 1.2rem;
  margin-top: 2rem;
  padding: 1.2rem;
  margin-left: 1.2rem;
}

.cancelButton:hover {
  background-color: rgb(255, 109, 109);
  border: 3px solid rgba(98, 10, 10, 1);
}

.imagePickerButton {
  padding: 1rem;
  font-size: 0.8rem;
  background-color: rgba(246, 243, 243, 0.5);
  border: 2px solid rgb(57, 171, 107);
  /* color: rgb(247, 241, 244); */
  border-radius: 0.6rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.imagePickerButton:hover {
  background-color: rgb(57, 171, 107);
  color: rgb(255, 1, 136);
  color: white;
}

.imagePickerCancelButton {
  padding: 1rem;
  font-size: 0.8rem;
  background-color: rgba(246, 243, 243, 0.5);
  border: 2px solid rgb(171, 57, 163);
  /* color: rgb(247, 241, 244); */
  border-radius: 0.6rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.imagePickerCancelButton:hover {
  background-color: rgb(171, 57, 108);
  color: rgb(255, 1, 136);
  color: white;
}
