.dayDetailWrapper {
  /* background-color: rgb(240, 235, 235); */
  border: 5px solid rgba(154, 205, 50, 0.7);
  border-radius: 1.2rem;
  /* max-width: 95%; */
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* margin-left: 1.2rem; */
  /* margin-right: 1.2rem; */
  /* padding: 1.2rem; */
  /* max-width: 95%; */
}

.dayContainer {
  /* background-color: #c67204; */
  border: 2px solid rgb(82, 12, 12);
  border-radius: 1.2rem;
  padding: 1.2rem;
  color: white;
  /* margin-left: 1.2rem; */
  /* display: flex; */
  /* min-width: 0; */
  /* flex: 1 0 auto; */
  /* flex-grow: 4; */
  flex: 1 0 auto;
}

.dayDetailTitle {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.unitButton {
  background-color: rgba(246, 230, 222, 0.2);
  border: 1px solid rgb(42, 139, 31);
  color: white;
  padding: 0.8rem;

  font-size: 1.2rem;
  border-radius: 1.2rem;
  /* margin-right: 1.2rem; */
  display: inline-block;
}
.unitButton:hover {
  background-color: rgb(222, 56, 192);
}

.title {
  font-size: 1rem;
  padding: 0.6rem;
  padding-right: 0.2rem;
  text-align: center;
  /* border-bottom: 1px solid white; */
}

.asyncTitle {
  font-size: 1rem;
  padding: 1.6rem;
  padding: 1.6rem;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  border-radius: 1.8rem;
  text-align: center;
  color: white;
  background-color: rgba(20, 20, 225, 0.457);
}

.dayButtons {
  display: flex;
  flex-direction: column;
}

.dayDescription {
  font-family: "Martel", serif;
  font-weight: 300;
  margin-top: 0 auto;
  padding: 0.6rem;
  background-color: rgb(161, 109, 12);
  background-color: #c67204;
  background-color: rgba(129, 80, 16, 0.1);
  border: 1px solid brown;
  border-radius: 1.2rem;
}

.discussionQuestionsContainer {
  font-family: "Martel", serif;
  font-weight: 300;
  margin-top: 1.2rem;
  padding: 0.6rem;
  border: 1px solid rgb(42, 48, 165);
  border-radius: 1.2rem;
}

.descriptionBorder {
  /* background-color: rgb(82, 12, 12); */
  border: 1px solid white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  min-height: 10rem;
}

.questionsBorder {
  border: 1px solid white;
  background-color: rgba(128, 128, 128, 0.457);
  padding: 1.2rem;
  border-radius: 1.2rem;
  min-height: 10rem;
}

.descriptionText {
  color: white;
}

.illustration {
  /* width: 40%; */
  min-width: 100px;
  max-width: 200px;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
  float: right;
}

.dayDemoTitle {
  padding-top: 0.2rem;
  font-size: 0.5rem;
  border-bottom: 1px solid pink;
}

.assignmentButtonContainer {
  background-color: rgba(246, 230, 222, 0.4);
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-left: 0rem;
  margin-bottom: 2rem;
  height: 3rem;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(82, 12, 12);
  color: white;
  border: 3px solid rgb(246, 115, 222);
  float: right;
}

.assignmentButtonContainer:hover {
  background-color: rgb(222, 56, 192);
}

@media screen and (min-width: 300px) {
  .dayContainer {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 0;
    margin-top: 0.2rem;
  }
  .dayDetailWrapper {
    padding: 0;
    margin: 0;
    border: none;
  }
  .dayDetailTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 100%;
    margin-right: 0.6rem;
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 2rem;
  }
  .linksListContainer {
    min-width: 60%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 600px) {
  .dayContainer {
    max-width: 90%;
    min-width: 500px;
    margin-left: 0.2rem;
    padding-top: 0.6rem;
    /* max-width: 55%;
    min-width: 420px; */
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 100%;
    margin-right: 0;
  }
  .videoLinksContainer {
    min-width: 60%;
    margin-right: 5%;
    margin-top: 2rem;
  }
  .linksListContainer {
    min-width: 60%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1000px) {
  .dayContainer {
    max-width: 50%;
    min-width: 500px;
    margin-left: 1.2rem;
    /* max-width: 55%;
    min-width: 420px; */
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 0;
  }
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 35%;
    /* min-width: 300px; */
    margin-right: 1.2rem;
  }
}
