.linksWrapper {
  max-width: 35%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoLinksContainer {
  min-width: 15rem;
  margin-bottom: 2rem;

  padding-bottom: 0.6rem;
  font-size: 0.7rem;
  list-style-type: none;
  background-color: rgb(248, 248, 161);
  /* margin-left: 1.4rem; */
  border-radius: 0.3rem;
  display: flex;
}

.linksListContainer {
  min-width: 15rem;
  margin-top: -0.1rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 0.7rem;
  list-style-type: none;
  background-color: lightyellow;
  /* margin-left: 1.4rem; */
  border-radius: 0.3rem;
  display: flex;
}

.linksList {
  list-style-type: none;
  min-width: 80%;
  margin-right: 0.4rem;
}

.linksTitle {
  background-color: purple;
  padding: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.listTitleContainer {
  background-color: rgba(240, 60, 140, 0.8);

  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0 0.3rem 0 0;
}

.videoListTitleContainer {
  background-color: #4f0f54;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0 0.3rem 0 0;
}

.listTitle {
  font-size: 0.8rem;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  color: white;
}
.videoListTitle {
  font-size: 0.8rem;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  color: rgb(248, 248, 161);
}

.dayDetailLink {
  padding-top: 0.2rem;
  border-bottom: 1px solid pink;
}
.dayDetailLink:hover {
  background-color: rgb(231, 100, 222);
  color: white;
  padding: 0.2rem;
}
.dayDetailLink a {
  color: rgb(89, 13, 95);
  text-decoration: none;
}

.dayDetailLink a:hover {
  color: white;
}

@media screen and (min-width: 300px) {
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 100%;
    margin-right: 0.6rem;
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 2rem;
  }
  .linksListContainer {
    min-width: 60%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 600px) {
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 100%;
    margin-right: 0;
  }
  .videoLinksContainer {
    min-width: 60%;
    margin-right: 5%;
    margin-top: 2rem;
  }
  .linksListContainer {
    min-width: 60%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1000px) {
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 0;
  }
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 35%;
    /* min-width: 300px; */
    margin-right: 1.2rem;
  }
}
