.dayDetailWrapper {
  /* background-color: rgb(240, 235, 235); */
  border: 5px solid rgba(154, 205, 50, 0.7);
  border-radius: 1.2rem;
  /* max-width: 95%; */
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  /* margin-left: 1.2rem; */
  /* margin-right: 1.2rem; */
  /* padding: 1.2rem; */
  /* max-width: 95%; */
}

.dayContainer {
  /* background-color: #c67204; */
  border: 2px solid rgb(82, 12, 12);
  border-radius: 1.2rem;
  padding: 1.2rem;
  color: white;
  /* margin-left: 1.2rem; */
  /* display: flex; */
  /* min-width: 0; */
  /* flex: 1 0 auto; */
  /* flex-grow: 4; */
  flex: 1 0 auto;
}

.dayDetailTitle {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.unitButton {
  background-color: rgba(246, 230, 222, 0.2);
  border: 1px solid rgb(42, 139, 31);
  color: white;
  padding: 0.8rem;

  font-size: 1.2rem;
  border-radius: 1.2rem;
  /* margin-right: 1.2rem; */
  display: inline-block;
}
.unitButton:hover {
  background-color: rgb(222, 56, 192);
}

.title {
  font-size: 1rem;
  padding: 0.6rem;
  padding-right: 0.2rem;
  text-align: center;
  /* border-bottom: 1px solid white; */
}

.dayButtons {
  display: flex;
  flex-direction: column;
}

.dayDescription {
  font-family: "Martel", serif;
  font-weight: 300;
  margin-top: 0 auto;
  padding: 0.6rem;
  background-color: rgb(161, 109, 12);
  background-color: #c67204;
  background-color: rgba(129, 80, 16, 0.1);
  border: 1px solid brown;
  border-radius: 1.2rem;
}

.descriptionBorder {
  /* background-color: rgb(82, 12, 12); */
  border: 1px solid white;
  padding: 1.2rem;
  border-radius: 1.2rem;
  min-height: 10rem;
}

.descriptionText {
  color: white;
}

.illustration {
  /* width: 40%; */
  min-width: 100px;
  max-width: 200px;
  margin-bottom: 1.2rem;
  margin-left: 1.2rem;
  float: right;
}

.linksWrapper {
  max-width: 35%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoLinksContainer {
  /* margin-top: -0.1rem; */
  min-width: 15rem;
  margin-bottom: 2rem;
  padding-bottom: 0.6rem;
  /* margin-right: 3rem; */
  font-size: 0.7rem;
  list-style-type: none;
  background-color: rgb(248, 248, 161);
  /* margin-left: 1.4rem; */
  border-radius: 0.3rem;
  display: flex;
}

.linksListContainer {
  min-width: 15rem;
  /* margin-right: 3rem; */
  margin-top: -0.1rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 0.7rem;
  list-style-type: none;
  background-color: lightyellow;
  /* margin-left: 1.4rem; */
  border-radius: 0.3rem;
  display: flex;
}

.linksList {
  list-style-type: none;
  min-width: 80%;
  margin-right: 1rem;
}

.linksTitle {
  background-color: purple;
  padding: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.listTitleContainer {
  background-color: rgba(240, 60, 140, 0.8);

  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0 0.3rem 0 0;
}

.videoListTitleContainer {
  background-color: #4f0f54;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 0 0.3rem 0 0;
}

.listTitle {
  font-size: 0.8rem;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  color: white;
}
.videoListTitle {
  font-size: 0.8rem;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  color: rgb(248, 248, 161);
}

.dayDetailLink {
  padding-top: 0.2rem;
  border-bottom: 1px solid pink;
}
.dayDetailLink:hover {
  background-color: rgb(231, 100, 222);
  color: white;
  padding: 0.2rem;
}
.dayDetailLink a {
  color: rgb(89, 13, 95);
  text-decoration: none;
}

.dayDetailLink a:hover {
  color: white;
}

.assignmentButtonContainer {
  background-color: rgba(246, 230, 222, 0.4);
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-left: 0rem;
  margin-bottom: 2rem;
  height: 3rem;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(82, 12, 12);
  color: white;
  border: 3px solid rgb(246, 115, 222);
  float: right;
}

.assignmentButtonContainer:hover {
  background-color: rgb(222, 56, 192);
}

@media screen and (min-width: 300px) {
  .dayContainer {
    min-width: 80%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 0;
    margin-top: 0.2rem;
  }
  .dayDetailWrapper {
    padding: 0;
    margin: 0;
    border: none;
  }
  .dayDetailTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 100%;
    margin-right: 0.6rem;
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 2rem;
  }
  .linksListContainer {
    min-width: 60%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 600px) {
  .dayContainer {
    max-width: 90%;
    min-width: 500px;
    margin-left: 0.2rem;
    padding-top: 0.6rem;
    /* max-width: 55%;
    min-width: 420px; */
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 100%;
    margin-right: 0;
  }
  .videoLinksContainer {
    min-width: 60%;
    margin-right: 5%;
    margin-top: 2rem;
  }
  .linksListContainer {
    min-width: 60%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1000px) {
  .dayContainer {
    max-width: 50%;
    min-width: 500px;
    margin-left: 1.2rem;
    /* max-width: 55%;
    min-width: 420px; */
  }
  .videoLinksContainer {
    min-width: 100%;
    margin-right: 0.6rem;
    margin-top: 0;
  }
  .linksWrapper {
    margin-top: 0.4rem;
    min-width: 35%;
    /* min-width: 300px; */
    margin-right: 1.2rem;
  }
}
