.submitFormWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  padding: 1.2rem;
  padding-left: 0;

  border-radius: 0.6rem;
  max-width: 60rem;
}

.attachImageDiv {
  margin-bottom: 1.2rem;
  padding: 2rem;
  display: flex;
  min-height: 225px;
  flex-direction: column;
  margin-right: 1.2rem;
  border-radius: 0.6rem;
}

.formWrapper {
  max-width: 40rem;
}
