.galleryItemDetailWrapper {
  margin-left: 0.6rem;
  max-width: 60vw;
}

.galleryItemDetailImage {
  max-width: 20vw;
  width: 100%;
}

.editPanel {
  margin-top: 0.4rem;
}

.pencil:hover {
  transform: scale(1.2);
}

.trash {
  margin-left: 0.4rem;
}

.trash:hover {
  transform: scale(1.2);
}
