.galleryItemDetailWrapper {
  margin-left: 3rem;
  width: 60%;
}

.returnToCategoryDiv {
  background-color: indianred;
  color: white;
  width: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-bottom: 1.2rem;
  border-radius: 1.2rem;
}
.returnToCategoryDiv:hover {
  background-color: rgb(241, 160, 160);
}

.galleryItemDetailImage {
  width: 100%;
}
