.critMessagesContainerWrapper {
  display: flex;
  flex-direction: column;
}

.critMessageWrapper {
  border: 2px solid green;
  padding: 0.6rem;
  border-radius: 0.6rem;
  margin-top: 0.6rem;
}
.critMessageContainer {
  display: flex;
  flex-direction: row;
  background-color: rgba(227, 218, 218, 0.573);
  border-radius: 0.6rem;
  padding: 0.6rem;
}
/* .critMessageContainer:hover {
  background-color: rgba(227, 218, 218, 0.902);
} */

.critMessageTitleContainer {
  width: 30%;
  height: 6rem;
  padding: 0.1rem;
  padding-right: 1.2rem;
  padding-bottom: 0.2rem;

  border-right: 2px solid rgb(134, 132, 132);
}

.critMessageTitleSecondaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  /* padding-bottom: 0.2rem; */
}

.userName {
  margin: 0 auto;
  padding: 0;
}

.critMessageBodyContainer {
  margin-left: 0.6rem;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin: 0;
}

.elapsedTime {
  font-size: 0.5rem;
  color: grey;
  font-style: italic;
}

.submitCritMessageWrapper {
  border: 2px solid green;
  padding: 0.6rem;
  /* padding-bottom: 0.8rem; */
  border-radius: 0.6rem;
}

.submitMessageButton {
  padding: 0.2rem;
  border-radius: 0.6rem;
  width: 100%;
  height: 2rem;
  background-color: rgb(29, 183, 197);
  border: 2px solid rgba(61, 244, 238, 0);
  color: white;
}
.submitMessageButton:hover {
  background-color: rgb(19, 88, 198);
  border: 2px solid rgb(61, 244, 238);
}
