.loginButton {
  background-color: rgba(246, 230, 222, 0.4);
  border-radius: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-left: 0rem;
  margin-bottom: 2rem;
  height: 3rem;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(82, 12, 12);
  color: white;
  border: 3px solid rgb(246, 115, 222);
  float: right;
}

.loginButton:hover {
  background-color: rgb(222, 56, 192);
}
