.signInPageWrapper {
  background-color: rgb(246, 157, 222);
  padding: 1.2rem;
  border-radius: 0.6rem;
}

.loginBG {
  background: linear-gradient(0deg, #cbdeec 20%, #2b2165);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 600px;

  max-width: 800px;
  /* width: 50vw; */
  border-radius: 0.6rem;
  margin: 0 auto;
}

.formContainer {
  display: inline-flex;
  flex-direction: column;
  display: inline-block;
  /* background-color: #ececec; */
  width: 40vw;

  padding: 0.6rem;
  margin-bottom: 30vh;
  border-radius: 0.3rem;
}

.loginTitleCard {
  color: white;
  margin-bottom: 1.2rem;
}

.submitButton {
  width: 100%;
  height: 4rem;
  background-color: #44c4e7;
  color: #fff;
  padding: 1.2rem;
  margin-top: 1.2rem;
  border: solid 0.1rem grey;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  /* text-shadow: 0 1px 1px rgba(160, 160, 160, 0.75); */
  vertical-align: middle;
  margin-left: auto;
}

.submitButton:hover {
  background-color: #2d30cb;
}

.toggleRegisterButton {
  /* background-color: rgba(255, 105, 180, 0.9); */
  color: rgb(18, 15, 110);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

.toggleRegisterButton:hover {
  background-color: rgba(226, 21, 188, 0.6);
  color: white;
  text-decoration: none;
  text-align: center;
}

.failureWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tryAgainButton {
  background-color: indianred;
  color: rgb(18, 15, 110);
  width: 5rem;
  margin-top: 1.2rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  /* text-decoration: underline; */
  cursor: pointer;
  text-align: center;
}

.tryAgainButton:hover {
  background-color: rgb(130, 124, 124);
}
