.userWorksSectionWrapper {
  margin-top: 1.2rem;
  border: 2px solid green;
  padding: 1.2rem;
  border-radius: 1.2rem;
  color: white;
}

.userWorksInnerWrapper {
  background-color: rgba(246, 243, 243, 0.5);
  padding: 1.2rem;
  border-radius: 0.8rem;
  color: rgb(25, 68, 43);
}

.userWorksFlexWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonToUserWork {
  background-color: indianred;
  border-radius: 1.2rem;
  padding: 1.2rem;
  width: 3rem;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
}
.buttonToUserWork:hover {
  background-color: rgb(232, 173, 173);
}
