.userWrapper {
  padding: 0.4rem;
  /* border: 2px solid green; */
}

.loginAgainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInAgainContainer {
 
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.logInAgainButton {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.logInAgainContainer {
  margin-top: 1.2rem;
}
