.userWarningsWrapper {
  border-radius: 1.2rem;
  padding: 1.2rem;
  width: 75%;
  /* margin: 0 auto; */
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(240, 235, 235); */
  border: 3px solid rgba(248, 5, 5, 0.7);
  color: white;
}

.assignmentWarningsWrapper {
  border: 3px solid purple;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.assignmentWarningsFlexWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.8rem;
}

.assignmentWarningContainer {
  background-color: hotpink;
  border-radius: 1.2rem;
  padding: 0.6rem;
  margin-top: 0.2rem;
  width: 3rem;
  border: 2px solid red;
  color: white;
}

.assignmentWarningContainer:hover {
  background-color: indianred;
}

.critMessageWarningsWrapper {
  border: 3px solid purple;
  padding: 1.2rem;
  border-radius: 1.2rem;
  margin-top: 0.8rem;
}

.critMessageWarningContainer {
}
