.userWarningsWrapper {
  border-radius: 1.2rem;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 0;
  max-width: 1000px;
}

.assignmentWarningsWrapper {
  border: 3px solid purple;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.assignmentWarningsFlexWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0.8rem;
}

.assignmentWarningContainer {
  background-color: hotpink;
  border-radius: 1.2rem;
  padding: 0.6rem;
  margin: 0.4rem;
  width: 5rem;
  border: 2px solid red;
  color: white;
}

.assignmentWarningContainer:hover {
  background-color: indianred;
}

.critMessageWarningsWrapper {
  border: 3px solid purple;
  padding: 1.2rem;
  border-radius: 1.2rem;
}

.critMessageWarningContainer {
}
